@media(max-width:376px){
    .header{
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        background-color: black;
        .logo img{
            height: 100px;
            width: 250px;
        }
    }
}