.index{
    .barrio{
        color: $color-principal;
        text-align: center;
        font-size: 45px;
        font-weight: 100;
    }
    .video{
        width: 100%;
        height: 350px;
        .ciro{
            width: 100%;
            height: 100%;
        }
    }
    
}